<template name="actions">

    <ul class="collapsible" data-collapsible="accordion">
        {{#each actions}}
            {{> action}}
        {{/each}}
    </ul>

</template>

<template name="action">

    <li>
        <div class="collapsible-header"><i class="material-icons green-text text-darken-1">textsms</i>{{name}}</div>
        <div class="collapsible-body">

                <div class="card">
                    <div class="card-content">

                        <span class="card-title grey-text text-darken-4">{{name}}</span>
                        <h6>{{title}}</h6>
                        {{short}}

                        <div class="section">
                                <strong>Time:</strong> 20:00 - 21:00<br/>
                                <strong>Location:</strong> De Waag
                        </div>
                    </div>

                    <div class="card-action">

                        {{#if send}}
                        <button class="btn btn-large waves-effect waves-light red darken-2 submit" type="submit" name="action">Stop
                            <i class="material-icons right">snooze</i>
                        </button>
                        {{else}}

                        <button class="btn btn-large waves-effect waves-light green darken-1 submit" type="submit" name="action">Send
                            <i class="material-icons right">send</i>
                        </button>

                        <form class="busy-only" action="#">
                            <input name="group1" type="radio" id="test1" />
                            <label for="test1">Send to busy locations only</label>
                        </form>

                        {{/if}}

                    </div>

                    {{#if send}}
                    <div class="card-content stats">

                        <span class="card-title grey-text text-darken-4">Statistics</span>

                        <div class="divider"></div>

                        <div class="row">
                            <div class="col s6">
                                <h5>400</h5>
                                <h6>Agreed shakes</h6>
                            </div>
                            <div class="col s6">
                                <h5>30</h5>
                                <h6>People moved</h6>
                            </div>

                            <div class="col s6">
                                <h5>270</h5>
                                <h6>Before action</h6>
                            </div>
                            <div class="col s6">
                                <h5>220</h5>
                                <h6>Currently</h6>
                            </div>
                        </div>

                    </div>
                    {{/if}}

                </div>
            </div>

    </li>

</template>