<template name="dashboard">

    <div class="dashboard">

        {{> map}}

        <div class="container admin {{#if show_statistics}}extra-column{{/if}}">

            <div class="row">

                <div class="col s4">
                    {{> locations}}
                </div>

                <div class="col s4">
                    {{> robot}}
                </div>

                <div class="col s4">
                    {{> actions}}
                </div>

            </div>

        </div>

    </div>

</template>

<template name="robot">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">&#xE859;</i>Robot</div>
            <div class="collapsible-body">

                <ul class="collection">

                    <li class="collection-item select-location {{active}}">
                        Use

                        <span class="secondary-content"><i class="material-icons blue-text text-darken-2">&#xE8A4;</i></span>

                    </li>

                    <li class="collection-item select-location">
                        Use queue data

                        <span class="secondary-content">

                            <div class="switch">
                                <label>
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                </label>
                            </div>

                        </span>
                    </li>

                    <li class="collection-item select-location">
                        Traffic alert

                        <span class="secondary-content">

                            <div class="switch">
                                <label>
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                </label>
                            </div>

                        </span>
                    </li>

                    <li class="collection-item select-location">
                        Natural disaster

                        <span class="secondary-content">

                            <div class="switch">
                                <label>
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                </label>
                            </div>

                        </span>
                    </li>

                    <li class="collection-item select-location">
                        Police data

                        <span class="secondary-content">

                            <div class="switch">
                                <label>
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                </label>
                            </div>

                        </span>
                    </li>

                </ul>

            </div>
        </li>
    </ul>
</template>