<template name="navbar ">

    <nav class="white black-text">
        <div class="nav-wrapper">
            <ul class="left">
                <li class="save"><i class="material-icons">favorite</i></li>
            </ul>
            <ul class="right">
                {{#if single}}
                    <li class="list-view"><i class="material-icons">view_list</i></li>
                {{else}}
                    <li class="list-view"><i class="material-icons">&#xE152;</i></li>
                {{/if}}
            </ul>
        </div>
    </nav>

</template>