$header: 56px;
$blue: #0E3CD0;
$yellow: #FFEF58;

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #3B3B3B;
  background-image: url('bg_pattern_2.png');
}

// Layout
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: $header;
  display: flex;
  flex: 0 0 $header;
  background: white;
}

main {
  flex-flow: column;
  display: flex;
  flex: 1;
}

.divider {
  margin-bottom: 5px;
  height: 2px;
}

// Colors
.bg-blue {
  background-color: $blue;
}
.bg-yellow {
  background-color: $yellow;
}

// Titels
h6 {
  text-transform: uppercase;
}

// Basics
.logo {
  display: flex;
  flex: 1;
  background-image: url('shakit.png');
  background-position: center;
  background-repeat: no-repeat;
}

.footer-logo {
  background-image: url('museum.png');
  background-position: center top;
  background-repeat: no-repeat;
  height: 130px;
}

.logo-spacer {
  height: 90px;
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
}

// Dashboard
.dashboard {
  height: 100%;

  #map {
    width: 100%;
    height: 100%;
  }

  .people-indicator {
    margin-right: 20px;
  }

  .admin {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    padding-top: 0;
    width: 100%;
    height: 100%;
    max-width: inherit;
  }

  .admin.extra-column {
    width: 70%;
  }

  .card {
    .card-content {
      padding-bottom: 0;
      padding-top: 10px;
    }
    .stats {
      padding-top: 0;
    }
  }

  .busy-only {
    margin-top: 10px;
  }

  .switch {
    label {
      .lever {
        width: 30px;
        height: 1px;
        margin: 0px;
        margin-left: 15px;

        &:after {
          width: 8px;
          height: 8px;
          top: -4px;
        }
      }

      input[type=checkbox]:checked + .lever {
        background-color: #c62828;

        &:after {
          background-color: #c62828;
        }
      }
    }

  }




}

.collapsible-body .collection,
.collapsible-body .card {
  margin: 0;
}

// Nav
nav {
  .nav-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .left {
      li {
        margin-left: 30px;
      }
    }

    .right {
      margin-left: auto;

      li {
        margin-right: 18px;
      }
    }

  }
}

// List
.list_view {
  background: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  //flex: 1;
  //overflow-y: auto;
  //min-height: 100%;
  //display: flex;
  //flex-direction: column;

  .row {
    flex: 1;
    display: flex;
    justify-content: left;
    flex-direction: row;
    min-width: 100%;
    margin-bottom: 0;

    border-bottom: 2px solid #efefef;
    border-top: 2px solid #efefef;
    box-sizing: border-box;


    .thumbnail-box {
      display: flex;
      flex-direction: column;
      padding: 0;

      .img {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;

        .heart {
          padding: 5px;
          background: $blue;
          display: inline-block;
          padding-bottom: 0;
        }
      }

    }

    .time-box {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;

      &.action-time {
        background: $yellow;

        .divider {
          background: #000;
        }
      }
      &.normal-time {
        background: $blue;
        color: white;
      }

      .time {
        text-align: center;
        height: 80%;

        p {
          font-size: 10px;
          line-height: 12px;
        }
      }

    }
  }

}

// Single
.single {

  .card, .row {
    margin-top: 0;
    margin-bottom: 0;
  }

  .row a {
    color: white;
    text-decoration: underline;
  }

  .buttons {
    margin-top: 60px;
    margin-bottom: 100px;

    .divider {
      margin-bottom: 30px;
    }
  }

  .single-action {
    .card-image, .card-content {
      background: $yellow;
      color: black;

      .divider {
        background: black;
      }

      .material-icons {
        color: black;
      }
    }
  }

}

// Map
path.leaflet-clickable {
  stroke: #3BB2D0;
  stroke-width: 0px;
  stroke-opacity: 0;
}