<template name="event">
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <!--<img src="{{image.file}}">-->
                    <img src="placeholder.png">
                    <span class="card-title">{{title}}</span>
                </div>
                <div class="card-content">
                    <p>{{short}}</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
</template>