<template name="list_item">

    <div class="row">
        <div class="col s3 thumbnail-box bg-blue">
            <div class="img" style="background-image:url('{{thumbnail.file}}')">
                <!--<div class="img" style="background-image:url('placeholder.png')">-->

                <div class="heart white-text">
                    <i class="material-icons">favorite</i>
                </div>

            </div>
        </div>
        <div class="col s7 text-box open-single">
            <div class="section">
                <div class="main">
                    <h6>{{title}}</h6>
                </div>
                <!--<p>{{short}}</p>-->
                <div class="meta">
                    <div class="divider"></div>
                    <p>Artis / 19:00 - 20:00</p>
                </div>
            </div>
        </div>

        {{#if name}}
        <div class="col s2 time-box open-single action-time">
            <div class="time">
                <i class="material-icons">&#xE566;</i>
                <div class="divider"></div>
                <p>30 mins running</p>
            </div>
        </div>
        {{else}}
        <div class="col s2 time-box open-single normal-time">
            <div class="time">
                <i class="material-icons">alarm_on</i>
                <div class="divider"></div>
                <p>20 mins walking</p>
            </div>
        </div>
        {{/if}}

    </div>

</template>