<template name="single_item">
    <div class="row">
        <div class="card bg-blue white-text {{#if name}}single-action{{/if}}">

            <div class="card-image">
                <img src="{{image.file}}">
                <!--<img src="placeholder.png">-->
                <span class="card-title">{{title}}</span>
            </div>

            <div class="card-content">

                <div class="row">
                    <div class="col s10">
                        <div class="section">
                            <div class="main">
                                <h6>{{title}}</h6>
                            </div>
                            <div class="meta">
                                <div class="divider"></div>
                                <p>Artis / 19:00 - 20:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s2">
                        <div class="heart white-text">
                            <i class="material-icons">favorite</i>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col s12">
                        {{{text}}}
                    </div>
                </div>

                <div class="row buttons">

                    <div class="divider"></div>

                    <div class="col s4">
                        <i class="material-icons">&#xE566;</i> 2 mins
                    </div>

                    <div class="col s6">
                        <i class="material-icons">alarm_on</i> 20 mins waiting
                    </div>

                    <div class="col s2">
                        <a href="https://www.google.com/maps/dir/Current+Location/52.364143,4.885281">
                            <i class="material-icons">place</i>
                        </a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</template>