<template name="suggestion">

    {{#if single}}
        <div class="single">
            {{#with single}}
                {{> single_item}}
            {{/with}}
        </div>
    {{else}}
        <div class="list_view">
            {{#each list}}
                {{> list_item}}
            {{/each}}
        </div>
    {{/if}}

</template>