<template name="marker">

    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="crowd.jpg">
                    <span class="card-title">Shakit marker</span>
                </div>
                <div class="card-content">

                    <h6>Current situation</h6>
                    <select class="browser-default">
                        <option value="1">Busy</option>
                        <option value="2">Blockade</option>
                        <option value="3">Casualties</option>
                    </select>

                </div>
                <div class="card-action">

                    <button class="btn btn-large waves-effect waves-light green darken-1 mark" type="submit" name="action">Mark
                        <i class="material-icons right">pin_drop</i>
                    </button>

                </div>
            </div>
        </div>
    </div>


</template>