<template name="locations">

    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">thumb_down</i>Busy</div>
            <div class="collapsible-body">

                <ul class="collection">

                    <li class="collection-item select-location {{active}}">
                        Location

                        <span class="secondary-content"><i class="material-icons red-text text-darken-3">visibility_off</i></span>

                        <span class="secondary-content people-indicator"><i class="material-icons blue-text text-darken-2">people</i></span>

                    </li>

                    {{#each locations_busy}}
                        {{> location}}
                    {{/each}}
                </ul>

            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">thumbs_up_down</i>Okay</div>
            <div class="collapsible-body">

                <ul class="collection">

                    <li class="collection-item select-location {{active}}">
                        Location

                        <span class="secondary-content"><i class="material-icons blue-text text-darken-2">visibility_off</i></span>

                        <span class="secondary-content people-indicator"><i class="material-icons blue-text text-darken-2">people</i></span>

                    </li>

                    {{#each locations_okay}}
                        {{> location}}
                    {{/each}}
                </ul>

            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">thumb_up</i>No worries</div>
            <div class="collapsible-body">

                <ul class="collection">

                    <li class="collection-item select-location {{active}}">
                        Location

                        <span class="secondary-content"><i class="material-icons blue-text text-darken-2">visibility_off</i></span>

                        <span class="secondary-content people-indicator"><i class="material-icons blue-text text-darken-2">people</i></span>

                    </li>

                    {{#each locations_no_worries}}
                    {{> location}}
                    {{/each}}
                </ul>

            </div>
        </li>
    </ul>

</template>

<template name="location">

    <li class="collection-item select-location {{active}}">
        {{title}}

        <span class="secondary-content">

            <div class="switch">
                <label>
                    {{#if marked}}
                        <input type="checkbox" checked="checked" />
                    {{else}}
                        <input type="checkbox" />
                    {{/if}}

                    <span class="lever"></span>
                </label>
            </div>

        </span>

        <span class="secondary-content blue-grey-text text-darken-2">{{random}}</span>
    </li>
</template>