<template name="shake">

        {{#if shaked}}
            <header>{{> navbar}}</header>
        {{/if}}

        <main>

            {{#if shaked}}
                {{> suggestion}}
            {{else}}
                <div class="logo-spacer"></div>
                <div class="logo"></div>
                <div class="footer-logo"></div>
            {{/if}}

            <div class="fixed-action-btn" style="bottom: 35px; right: 35px;">
                <a class="btn-floating fakeShake"><i class="material-icons white black-text">shuffle</i></a>
            </div>

        </main>

</template>